body {
    font-family: Inter, sans-serif;
}

header {
    font-weight: 700;
}


#graph {
    width: 100%;
    height: 500px;
}


.btn.btn-primary{
    margin-right: 10px;
}

.btn.btn-info{
    margin-top: 10px;
}