/* Set the font for the entire document */
body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
    font-family: Arial, sans-serif;
}

/* Style for the header */
header {
    font-weight: 700;
    font-weight: bold;
    border-radius: 20px;
}

button{
    border-radius: 20px;
}

button:hover{
    background-color: rgba(0,0,0,0.1);
    color: white;
}

/* Styling for the graph element */
#graph {
    width: 100%;
    height: 400px;
}

/* Style for the header with a specific class name */
.header-style {
    font-weight: bold;
}

/* Styling for the calculator section with a specific ID */
#calculator {
    background-color: #f7f7f7;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.reset-container{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    position: relative;
}

#theme-icon {
    width: 30px;
    height: 30px;
}

.dark-mode {
    background-color: black;
    color: #6610f2;
}
.darkbtn{
    float: right;
    margin-top: -40px;
}

.graphic-container {
    display: none;
}

.graphic-container.active {
    display: flex;
}