/* Set the font for the entire document */
body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
    font-family: Arial, sans-serif;
}

/* Style for the header */
header {
    font-weight: 700;
    font-weight: bold;
    border-radius: 20px;
}

header:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

button{
    border-radius: 20px;
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
}

button:hover{
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2); 
    transform: scale(1.1);
}

/* Styling for the graph element */
#graph {
    width: 100%;
    height: 400px;
}
#graph:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

/* Style for the header with a specific class name */
.header-style {
    font-weight: bold;
}

/* Styling for the calculator section with a specific ID */
#calculator {
    background-color: #f7f7f7;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.reset-container{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    position: relative;
}

#theme-icon {
    width: 30px;
    height: 30px;
}

.graphic-container {
    display: none;
}

.graphic-container.active {
    display: flex;
}

:root{
    --bs-dark: #000;
  }
  
  .theme-container {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
  }
  
  .theme-container:hover {
    opacity: 0.8;
  }
  
  .shadow-dark {
    background: linear-gradient(145deg, #23282c, #1e2125);
    border: 2px purple solid;
  }
  
  .shadow-light {
    box-shadow: 7px 7px 15px -10px #bbcfda, -4px -4px 13px #ffffff;
    border: 2px black solid;
  }
  
  @keyframes change {
    0% {
      transform: scale(1);
    }
  
    100% {
      transform: scale(1.4);
    }
  }
  
  .change {
    animation-name: change;
    animation-duration: 1s;
    animation-direction: alternate;
  }